.cartDiv {
    box-shadow: 11px 10px 28px -2px rgba(0,0,0,0.75);
    margin: 2rem;
    padding: 1rem;
    width: 90%;
    height: auto;
}

.emptyCart {
    display: block;
    box-shadow: 11px 10px 28px -2px rgba(0,0,0,0.75);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90%;
    height: auto;
}

.myButton {
    margin-top: 1rem;
}

.itemProduct {
    width: 100%;
    height: auto;
    border: solid black;
    border-radius: 3px;
}

.imgDetail {
    display: inline-block;    
    width: 7rem;
    height: 6rem;
}

.divTotal {
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    border: black solid;
    background-color: rgba(228, 214, 18, 0.884);
}

.divSubtotal {
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border: black solid;
    background-color: rgb(19, 109, 228);
}