.cartDiv {
    box-shadow: 11px 10px 28px -2px rgba(0,0,0,0.75);
    margin: 2rem;
    padding: 1rem;
    width: 90%;
    height: auto;
}

.myButton {
    margin-top: 2rem;
}

.itemProduct {
    width: 100%;
    height: 8rem;
    border: solid black;
    border-radius: 3px;
}