.itemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    margin-top: 3rem;
}

.styleTitle {
    display:inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 115, 121);
    padding: 2rem;
    border-radius: 3px;
    border: solid;
    align-content: center;
}
