.myCheckout {
    margin: 1.5rem;
    width: 18rem;
    height: 75vh;
    padding: 15;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 11px 10px 28px -2px rgba(0,0,0,0.75);
    transition: background-color 0.5s ease;
    transition: transform .5s;
}