.containerNav {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 175, 207);
    width: 100%;
    position: fixed;
    top: 0px;
    height:5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.list{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    margin: 1rem;
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.3);
}